<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMG Web App stacks</title>
    <!-- 外部CSSの読み込み -->
    <link rel="stylesheet" href="css/style.css">
    <!-- 内部スタイルシート（外部スタイルシートの上書きができる） -->
    <style>

    </style>
    <!-- 内部スタイルシート終わり -->
</head>

<body>
  <!-- ヘッダー & ナビゲーション -->
  <header>
    <div class = "container">
      <div class = "f-container">
        <div class = "header-left">
          <a href="/">EMG Web App stacks</a>
        </div>
        <div class = "header-right">
          <a href="/">HOME</a>
          <a href="/about">ABOUT US</a>
        </div>
      </div>
    </div>
    
  </header>

  <!-- アウトラインセクション -->
  <div class = "outline">
    <div class = "container">
      <h2>Outline</h2>
      <p>このサイトは、EMGで取り組んだWebアプリケーション開発の成果をまとめたポートフォリオです。アイデアの発案からデザイン、設計、実装、テストに至るまでを協力して進めてきました。また、完成したアプリケーションの紹介だけでなく、開発の過程や学びの記録も共有しています。</p>
    </div>
  </div>

  <!-- Web Apps セクション -->
  <div class = "webApp">
    <div class = "container">
      <h2>Web Apps</h2>
      <div class = "f-container">
        <div class = "app">
          <a href="/app_todo_taimu" target="_blank">
            <img src="img/app01.png" alt="app01">
          </a>
          <h4>Todo管理アプリ</h4>
          <p>Todoリスト作るのっていいよね</p>
        </div>
        <div class = "app">
          <img src="img/app02.png" alt="app02">
          <h4>スケジュール共有アプリ</h4>
          <p>私が作りました</p>
        </div>
        <div class = "app">
          <img src="img/app03.png" alt="app03">
          <h4>URLブックマーク管理ツール</h4>
          <p>ガチで便利でかっこいいです</p>
        </div>
        <div class = "app">
          <img src="img/app04.png" alt="app04">
          <h4>三角関数しか勝たん</h4>
          <p>かっこよくて便利でイかしたやつ</p>
        </div>
      </div>
    </div>
  </div>

  <!-- フッター -->
  <footer>
    <div class = "container">
      <p>© 2025 EMG Web App stacks</p>
    </div>
  </footer>
  
</body>
</html>