/* 全体 */
html{
  margin:0px;
  padding:0px;
}

body{
  margin:0px;
  padding:0px;
}

.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

/* flexboxのコンテナ */
.f-container{
  display:flex;
  flex-wrap: wrap;
  /* width: 1170px;
  text-align:center;
  padding: 0 15px;
  margin: 0 auto; */
}


/* ヘッダー */
header{
  height:112px;
  background-color:hsl(209, 65%, 37%);
  border-bottom:3px solid #000000;
}

/* floatでの記述 */
/* .header-left{
  float:left;
  font-size:40px;
  line-height:112px;
  font-weight:bold;
  color:#FFFFFF;
}

.header-right a{
  float:right;
  font-size:24px;
  color:#FFFFFF;
  line-height:112px;
  margin-right:30px;
} */

/* flexboxでの記述 */
.header-left{
  font-size:40px;
  line-height:112px;
  font-weight:bold;
  color:#ffffff;
  /* color:#000000; */
}

.header-left a{
  color:#ffffff;
  text-decoration: none;
  /* color:#000000; */
}

.header-right{
  margin-left:auto;
}

.header-right a{
  font-size:24px;
  color:#FFFFFF;
  /* color:#000000; */
  line-height:112px;
  margin-right:30px;
}

/* アウトライン */
.outline h2{
  font-size:56px;
  text-decoration: underline;
  margin:25px 0px 15px 0px;
  text-align: center;
}

.outline p{
  font-size:22px;
  margin:10px 0px;
}

/* Wep App */
.webApp{
  text-align:center;
}

.webApp h2{
  font-size:56px;
  text-decoration: underline;
  margin:25px 0px;
}

.app{
  width:50%;
  margin-bottom:30px;
}

.webApp img{
  width:350px;
  height:350px;
}

.webApp h4{
  font-size:30px;
  margin:10px 0px;
}

.webApp p{
  font-size:24px;
  color:#252525;
  margin:5px 0px;
}

/* フッター */
footer{
  height:80px;
  border-top:1px solid #454545;
  background-color: #215F9A;
}

footer p{
  color:#FFFFFF;
  line-height:80px;
  font-size:18px;
  margin:0px;
}

/* about.html */

/* emg */
.emg{
  
}

.emg-left{
  margin:20px 0px 0px 40px;
}

.emg h1{
  font-size:64px;
  margin:0px;
}

.emg ul{
  padding:0px;
}

.emg li{
  font-size:24px;
  list-style:none;
}

.emg-right{
  margin-left:auto;
}

.emg img{
  display:inline-block;
  margin:30px 40px 0px 0px;
  width:540px;
  height:210px;
}

/* members */
.members{
  margin-top:20px;
}

.members h2{
  font-size:56px;
  text-decoration: underline;
  margin:25px 0px 30px 0px;
  text-align: center;
}

.member-box{
  width:50%;
  margin-bottom:50px;
}

.members img{
  width:200px;
  height:270px;
}

.members h3{
  font-size:32px;
  margin-left:15px;
}

.members ul{
  padding-left:0px;
}

.members li{
  list-style:none;
  font-size:26px;
  margin-left:15px;
}